*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/third_party/Smarty/compiled/*
*/third_party/!index.html
*/media
application/third_party/Smarty/compiled/*.tpl.php
application/third_party/Smarty/compiled/9db865216b41cdbec4722f013cf47a0769b93314.file.admin_template.tpl.php

application/third_party/Smarty/compiled/39825c1c5659086ff6dccead277d8ba32cda0afc.file.manage_tips.tpl.php
