*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/third_party/Smarty/compiled/*
*/third_party/!index.html
*/media
*/compiled/*
application/third_party/Smarty/compiled/167436d7073fa307388614599c9a00e3f2682a1f.file.index.tpl.php
