<IfModule mod_rewrite.c>

    # Make sure directory listing is disabled
  Options +FollowSymLinks -Indexes
  RewriteEngine on

  # NOTICE: If you get a 404 play with combinations of the following commented out lines
  #AllowOverride All
  #RewriteBase /wherever/pyro/is

  # Restrict your site to only one domain
  # !important USE ONLY ONE OPTION

  # Option 1: To rewrite "www.domain.com -> domain.com" uncomment the following lines.
  #RewriteCond %{HTTPS} !=on
  #RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  #RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

  # Option 2: To rewrite "domain.com -> www.domain.com" uncomment the following lines.
  #RewriteCond %{HTTPS} !=on
  #RewriteCond %{HTTP_HOST} !^www\..+$ [NC]
  #RewriteCond %{HTTP_HOST} (.+)$ [NC]
  #RewriteRule ^(.*)$ http://www.%1/$1 [R=301,L]

  # Remove index.php from URL
  #RewriteCond %{HTTP:X-Requested-With} !^XMLHttpRequest$
  #RewriteCond %{THE_REQUEST}       ^[^/]*/index\.php [NC]
  #RewriteRule ^index\.php(.*)$     $1 [R=301,NS,L]

  # Keep people out of codeigniter directory and Git/Mercurial data
  RedirectMatch 403 ^/(system\/codeigniter|\.git|\.hg).*$

  # Send request via index.php (again, not if its a real file or folder)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  <IfModule mod_php5.c>
    RewriteRule ^(.*)$ index.php/$1 [L]
  </IfModule>

  <IfModule !mod_php5.c>
    RewriteRule ^(.*)$ index.php?/$1 [L]
  </IfModule>

</IfModule>
# BEGIN Compress text files
<ifModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>
# END Compress text files

# BEGIN Expire headers
<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 5 seconds"
  ExpiresByType image/x-icon "access plus 2592000 seconds"
  ExpiresByType image/jpeg "access plus 2592000 seconds"
  ExpiresByType image/png "access plus 2592000 seconds"
  ExpiresByType image/gif "access plus 2592000 seconds"
  ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
  ExpiresByType text/css "access plus 604800 seconds"
  ExpiresByType text/javascript "access plus 216000 seconds"
  ExpiresByType application/javascript "access plus 216000 seconds"
  ExpiresByType application/x-javascript "access plus 216000 seconds"
  ExpiresByType text/html "access plus 600 seconds"
  ExpiresByType application/xhtml+xml "access plus 600 seconds"
</ifModule>
# END Expire headers

# BEGIN Cache-Control Headers
<ifModule mod_headers.c>
  <filesMatch "\.(ico|jpe?g|png|gif|swf)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch "\.(css)$">
    Header set Cache-Control "public"
  </filesMatch>
  <filesMatch "\.(js)$">
    Header set Cache-Control "private"
  </filesMatch>
  <filesMatch "\.(x?html?|php)$">
    Header set Cache-Control "private, must-revalidate"
  </filesMatch>
</ifModule>
# END Cache-Control Headers

FilterDeclare   COMPRESS
FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/html
FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/css
FilterProvider  COMPRESS  DEFLATE resp=Content-Type $text/javascript
FilterChain     COMPRESS
FilterProtocol  COMPRESS  DEFLATE change=yes;byteranges=no

# BEGIN Turn ETags Off
FileETag None
# END Turn ETags Off